extends ../template

block content

    h1 Приветствую на сайте.

    .btn-group
        a.btn.btn-sm.btn-default(href="/characters/add")
            span.glyphicon.glyphicon-plus-sign
                | Добавить кого-то базу персонажей?